.u-section-1 {
  background-image: url("images/9bbf93dd-8fac-418a-b680-71bb0cf3dbc8.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 60px 107px 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 40px 205px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  align-self: center;
  animation-duration: 1000ms;
  margin: 20px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 105px;
    margin-right: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 87px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 557px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 598px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 19px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 146px 11px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  line-height: 1;
  font-size: 3.75rem;
  margin: 11px 11px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 10px 11px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 700;
  margin: 22px 11px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 378px;
  height: 378px;
  background-image: url("images/a86bbc5b-68db-43b0-b09f-97eddf9cf98d.jpeg");
  background-position: 50% 0%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 685px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 18px;
    margin-left: -30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 500px;
    height: 500px;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 565px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 271px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 12px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1064px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 60px 109px 0 161px;
}

.u-section-3 .u-list-1 {
  min-height: 766px;
  grid-template-rows: repeat(1, auto);
  height: auto;
  grid-auto-rows: 100%;
  margin: 103px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  grid-auto-rows: calc(50% - 15px);
  grid-gap: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px 0 0;
}

.u-section-3 .u-group-1 {
  width: 60px;
  min-height: 60px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 5px;
}

.u-section-3 .u-group-2 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 266px;
  height: auto;
  margin: -60px 0 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 15px 0 30px 10px;
}

.u-section-3 .u-text-3 {
  font-family: Montserrat, sans-serif;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px 0 0;
}

.u-section-3 .u-group-3 {
  width: 60px;
  min-height: 60px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 5px;
}

.u-section-3 .u-group-4 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 266px;
  height: auto;
  margin: -60px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 15px 0 30px 10px;
}

.u-section-3 .u-text-6 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 20px 0 0;
}

.u-section-3 .u-group-5 {
  width: 60px;
  min-height: 60px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 5px;
}

.u-section-3 .u-group-6 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 266px;
  height: auto;
  margin: -60px 0 0 auto;
}

.u-section-3 .u-container-layout-9 {
  padding: 15px 0 30px 10px;
}

.u-section-3 .u-text-9 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-text-10 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px 20px 0 0;
}

.u-section-3 .u-group-7 {
  width: 60px;
  min-height: 60px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 0;
}

.u-section-3 .u-text-11 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 5px;
}

.u-section-3 .u-group-8 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 266px;
  height: auto;
  margin: -60px 0 0 auto;
}

.u-section-3 .u-container-layout-12 {
  padding: 15px 0 30px 10px;
}

.u-section-3 .u-text-12 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-text-13 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 30px 20px 0 0;
}

.u-section-3 .u-group-9 {
  width: 60px;
  min-height: 60px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-14 {
  padding: 0;
}

.u-section-3 .u-text-14 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 5px;
}

.u-section-3 .u-group-10 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 266px;
  height: auto;
  margin: -60px 0 0 auto;
}

.u-section-3 .u-container-layout-15 {
  padding: 15px 0 30px 10px;
}

.u-section-3 .u-text-15 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-text-16 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-3 .u-container-layout-16 {
  padding: 30px 20px 0 0;
}

.u-section-3 .u-group-11 {
  width: 60px;
  min-height: 60px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-17 {
  padding: 0;
}

.u-section-3 .u-text-17 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 5px;
}

.u-section-3 .u-group-12 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 266px;
  height: auto;
  margin: -60px 0 0 auto;
}

.u-section-3 .u-container-layout-18 {
  padding: 15px 0 30px 10px;
}

.u-section-3 .u-text-18 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-text-19 {
  font-size: 1rem;
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 61px;
    margin-right: 9px;
  }

  .u-section-3 .u-list-1 {
    min-height: 632px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
  }

  .u-section-3 .u-group-2 {
    min-height: 362px;
    width: 193px;
    height: auto;
  }

  .u-section-3 .u-group-4 {
    min-height: 362px;
    width: 193px;
    height: auto;
  }

  .u-section-3 .u-group-6 {
    min-height: 362px;
    width: 193px;
    height: auto;
  }

  .u-section-3 .u-group-8 {
    min-height: 362px;
    width: 193px;
    height: auto;
  }

  .u-section-3 .u-group-10 {
    min-height: 362px;
    width: 193px;
    height: auto;
  }

  .u-section-3 .u-group-12 {
    min-height: 362px;
    width: 193px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1387px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    min-height: 1089px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-rows: calc(33.33% - 20px);
  }

  .u-section-3 .u-group-2 {
    min-height: 342px;
    width: 251px;
  }

  .u-section-3 .u-group-4 {
    min-height: 342px;
    width: 251px;
  }

  .u-section-3 .u-group-6 {
    min-height: 342px;
    width: 251px;
  }

  .u-section-3 .u-group-8 {
    min-height: 342px;
    width: 251px;
  }

  .u-section-3 .u-group-10 {
    min-height: 342px;
    width: 251px;
  }

  .u-section-3 .u-group-12 {
    min-height: 342px;
    width: 251px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    min-height: 766px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: calc(16.66% - 25px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    min-height: 228px;
    width: 443px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    min-height: 228px;
    width: 443px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-6 {
    min-height: 228px;
    width: 443px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-8 {
    min-height: 228px;
    width: 443px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-10 {
    min-height: 228px;
    width: 443px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-12 {
    min-height: 228px;
    width: 443px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-group-2 {
    min-height: 332px;
    width: 250px;
  }

  .u-section-3 .u-group-4 {
    min-height: 332px;
    width: 250px;
  }

  .u-section-3 .u-group-6 {
    min-height: 332px;
    width: 250px;
  }

  .u-section-3 .u-group-8 {
    min-height: 332px;
    width: 250px;
  }

  .u-section-3 .u-group-10 {
    min-height: 332px;
    width: 250px;
  }

  .u-section-3 .u-group-12 {
    min-height: 332px;
    width: 250px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 689px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 94px 672px 0 262px;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -227px 288px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 17px 496px 0 253px;
}

.u-section-4 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -71px auto 60px -64px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 112px;
    margin-right: 470px;
    margin-left: 250px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -185px;
    margin-right: 220px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 48px;
    margin-right: 396px;
    margin-left: 250px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -163px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 306px;
    margin-left: 191px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -226px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 90px;
    margin-right: 251px;
    margin-left: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 30px;
    margin-right: 155px;
    margin-left: 143px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -178px;
    margin-right: -141px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -34px;
    margin-right: 71px;
    margin-left: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 112px;
    margin-right: 124px;
    margin-left: 92px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -107px;
    margin-right: -138px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -105px;
    margin-right: 18px;
    margin-left: 90px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 0;
    margin-bottom: 54px;
    margin-left: -98px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 545px;
}

.u-section-5 .u-shape-1 {
  width: 319px;
  height: 319px;
  background-image: none;
  margin: 113px 156px 0 auto;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -332px 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 41px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  margin: 30px auto 60px 0;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 136px;
    margin-right: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -355px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 154px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -373px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 673px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 993px;
  margin: 0 auto 0 51px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/4e7362e8-3411-4b77-af58-bc53f7a5d7e6.jpg");
  min-height: 673px;
  background-position: 50% 27.38%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 673px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 60px 50px;
}

.u-section-6 .u-text-1 {
  animation-duration: 1000ms;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-form-1 {
  height: 454px;
  margin-top: 36px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-form-group-1 {
  margin-left: auto;
}

.u-section-6 .u-form-group-2 {
  margin-left: auto;
}

.u-section-6 .u-form-group-3 {
  margin-left: auto;
}

.u-section-6 .u-form-group-4 {
  margin-left: auto;
}

.u-section-6 .u-form-group-5 {
  margin-left: auto;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  margin-left: auto;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 19px 31px 19px 29px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 637px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 637px;
  }

  .u-section-6 .u-form-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    min-height: 488px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    min-height: 672px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    min-height: 423px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}