.akshayaheading{
    color:#718093;
    text-align: left;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    margin-right: 10%;


}
.gopinathheading{
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-top: -130px;
}

.gopinathheading:hover{
    color:skyblue;
}

body{
    background-color:black;
}
.para-left {
    margin-left: 10%;
    margin-right: 5%;
    color:white;
    
}
.para-right{
    margin-left:5%;
    margin-right: 10%;
    color: white;
}
.profile-picture{
    
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 80px;
    display: block;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-left-radius:20% ;
    border-bottom-right-radius: 20%;

    height: 250px;
    
}

.div-para{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: whitesmoke;
    padding: 2%;
    display: inline-flex;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    
}
.div-image{
    height: 50px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10px;
    
}
.div2-para{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: whitesmoke;
    color:black;
    padding: 2%;
    display: inline-flex;
    font-family: 'Grandstander', cursive;
}

.div2-image{
    height: 32px;
    width: 32px;
    margin-top: 20px;
}

.akshaya{
    text-align: center;
    color: teal;

}

.nextimage{
    text-decoration: none;
    font-size: 30px;
    color: whitesmoke;
    position: fixed;
    bottom: 5px;
    right: 5px;

}

.nextimage img{
    height: 32px;
    width: 32px;

}

.previousimage{
    text-decoration: none;
    font-size: 30px;
    color: teal;
    position: fixed;
    bottom: 5px;

}

.previousimage img{
    height: 32px;
    width: 32px;

}

.openimage{
    font-size: 20px;
    color: teal;
    display: block;
}

.headingsection{
    display: inline-flex;

}

.headingname{

}
