.h1-white{
    color: white;
    text-align: center;
}
body{
    background-color:black;
}
.para-left {
    margin-left: 10%;
    margin-right: 5%;
    color:white;
    
}
.para-right{
    margin-left:5%;
    margin-right: 10%;
    color: white;
}
.profile-picture{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

.div-para{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: black;
    background-color:whitesmoke;
    padding: 2%;
    display: inline-flex;
    font-family: 'Grandstander', cursive;
}
.div-image{
    height: 32px;
    width: 32px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10px;
    
}
.div2-para{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color:black;
    background-color: whitesmoke;
    padding: 2%;
    display: inline-flex;
    font-family: 'Grandstander', cursive;
}

.div2-image{
    height: 32px;
    width: 32px;
    margin-top: 20px;
}

.akshaya{
    text-align: center;
    color: teal;

}

.nextimage{
    text-decoration: none;
    font-size: 30px;
    color: whitesmoke;

}

.nextimage img{
    height: 32px;
    width: 32px;

}

.previousimage{
    text-decoration: none;
    font-size: 30px;
    color: teal;
    position: fixed;
    bottom: 5px;

}

.previousimage img{
    height: 32px;
    width: 32px;

}

.openimage{
    font-size: 20px;
    color: teal;
    display: block;
}